<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>亲爱的{{name}}同学你好，</p>
  <p>感谢你参加CSA2018十佳歌手海选！</p>
  <p>你的海选时间是<strong>2018年11月4日 {{time}}</strong>，海选地点在<strong>Reitz Union 3320</strong>。请于海选时间提前10分钟到场，并仔细阅读以下海选规则：</p>
  <p>1. 每位选手有90秒的表演时间</p>
  <p>2. 个人或组合皆可参赛</p>
  <p>3. 选手可自带乐器</p>
  <p>4. 海选要求清唱</p>
  <p>5. 前16名将进入11月18日的决赛。决赛将在Reitz Union的Rion Ballroom举办。</p>
  <p>如有时间冲突或疑问，请联系微信号为Amyqwertyuiop的CSA成员谢璐瑶同学或发送邮件至ufcsainfo@gmail.com。我们期待你的精彩表现！</p><br/>
  <p>谢谢！</p>
  <p>佛罗里达大学中国学生会</p>
  <br/><br/>
  <p>Hello {{name}},</p>
  <p>Thank you for your interest in the 2018 CSA Gator Voice competition!</p>
  <p>Your audition date/time is <strong>November 4th, 2018 at {{time}}</strong>, audition location is <strong>Reitz Union 3320</strong>. Please arrive at least 10 minutes prior to your assigned time and read the rules carefully before your audition:</p>
  <p>1. You will have 90 seconds to perform</p>
  <p>2. You may perform individually or with a group</p>
  <p>3. You may bring your own instrument(s)</p>
  <p>4. No background music allowed</p>
  <p>5. Top 16 will advance to the finale on Nov.18th, it will take place in Reitz Union's RIon Ballroom and open to public.</p>
  <p>If there are any time conflict or concerns, please contact Wechat ID Amyqwertyuiop or email us at ufcsainfo@gmail.com. We are looking forward to your performance!</p>
  <br />
  <p>Thank you,</p>
  <p>University of Florida - Chinese Student Association</p>
  <br/>
  <p>The {{appName}} Support Team</p>
  <br />
</body>
</html>
