<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>{{name}} 同学你好,</p>
  <br />
  <p>
    谢谢你的申请！你的面试时间为<strong>9月3号，周一下午{{time}}，地点在Marston Science Library Einstein L121</strong>。面试包括笔试部分。建议着装business casual。收到邮件请回复，如有任何疑问，也可以邮件咨询。
  </p>
  <p>
    谢谢！
  </p>
  <br />
  <p>Hi {{name}},</p>
  <br />
  <p>
    Thank you for your application! Your interview session starts at <strong>{{time}}pm on Monday, Sep 3rd at Marston Science Library Einstein L121</strong>. A writing session is included with the interview. Business casual is recommended for the interviewees. Please reply to this email upon received. Do not hesitate to email us about any questions regarding the interview.
  </p>
  <p>
    Thanks!
  </p>
  <br />
  <br />
  <p>The {{appName}} Support Team</p>
  <p>University of Florida - Chinese Student Association</p>
  <br />
</body>
</html>
