<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>{{name}}同学你好，</p>
  <p>欢迎大家参加本次CSA团建。请把这封邮件做为本次团建的Confirmation并仔细阅读以下内容。</p>
  <p>请大家于<strong>4月7日周日下午3:45</strong>准时到<strong>M2 Battlesports Newberry</strong>集合
    <strong>（地址24880 NW 16 Ave, Newberry）</strong>。
    请大家提前签好Liability Waiver （www.m2waiver.com）。活动当天请穿跑鞋以及长裤。</p>
  <p>请大家扫以下二维码进群，我们会用微信群做为本次团建的主要沟通方式并会给大家安排Carpool的sign up。</p>
  <img src="https://imgur.com/Ty7cmUV.jpg" style="max-width: 100%"/>
  <br/>
  <p>谢谢！</p>
  <p>UFCSA</p>
  <br />
  <br />
  <p>The {{appName}} Support Team</p>
  <p>University of Florida - Chinese Student Association</p>
  <br />
  <p>This is an automated email. Please do not reply this email.</p>
</body>

</html>
