<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>亲爱的{{name}}同学,</p>
  <br />
  <p>
    非常感谢您对CSA的关注与支持，您在本届CSA招新面试时的良好表现给我们留下了深刻的印象。
    我们认真评估了每一位申请者的工作特长与工作经验，并结合各部门的工作性质进行了综合考量。
    但是鉴于本届招新面试人数众多竞争激烈，CSA主席团决定暂时不采纳您的申请。我们会保留您的申请信息，
    并在有合适职位的时候向您推荐，期望未来能有机会与您携手为UF中国留学生服务！
    也欢迎继续关注CSA的后续活动信息，我们会组织丰富多彩的文化娱乐活动供您参与，祝您在UF学习顺利，生活愉快！
  </p>
  <br />
  <p>此致</p>
  <br />
  <p>CSA主席团</p>
  <br />
  <p>The {{appName}} Support Team</p>
  <p>University of Florida - Chinese Student Association</p>
  <br />
</body>
</html>
