<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{name}},</p>
  <br />
  <p>
    Thank you for registering for CSA new student orientation!
  </p>
  <p>
    Remember, the event will be held at UF Reitz Union Grand Ballroom
    at 12:30 on Sunday, August 26th.
  </p>
  <p>You will be at <strong>table {{table}}</strong>. See you there!</p>
  <br />
  <br />
  <p>The {{appName}} Support Team</p>
  <p>University of Florida - Chinese Student Association</p>
  <br />
  <p>This is an automated email. Please do not reply this email.</p>
</body>

</html>
