
<section>
  <div class="background">
    <div class="intro">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
          <img src="/modules/core/client/img/brand/CSA logo.png" alt="CSA logo" class="center">
        </div>
      </div>
      <br>
      <div class="row">
        <p class="lead">
          <center>
            <h1>Welcome to the Gator Nation!</h1>
            <br />
            <h2>CSA在此预祝大家旅途顺利</h2>
            <br />
            <h2>为保证顺利安排每个新生的接机</h2>
            <h2>我们通过接机系统收集新生信息，安排志愿者接机</h2>
            <br />
            <h2>请您仔细阅读以下的接机系统注册指南</h2>
            <br />
            <br />
            <br />
          </center>
        </p>
      </div>
    </div>

    <button class="collapsible">接机系统使用指南</button>
    <div class="detail">
      <button class="collapsible">注册账号</button>
      <div class="detail">
        <p class="single-step" style="text-align:center">
          <img class="tutorial_pic" src="/modules/core/client/img/sign up tutorial/s1 choose method.png" />
          <br />
          第一步：选择注册方式<br />
          1. 社交网络账号直接登录 <br />
          2. 用自己的email注册
        </p>
        <p class="single-step">
          第二步....
        </p>
        <p class="single-step">
          第三步....
        </p>
        <p class="single-step">
          第四步....
        </p>
      </div>
      <button class="collapsible">使用系统</button>
      <div class="detail">
        <p class="single-step">
          这里放具体使用系统步骤
        </p>
      </div>
    </div>

    <button class="collapsible">接机系统注意事项</button>
    <div class="detail">

      <button class="collapsible">CSA志愿者可以提供接机的机场/地点</button>
      <div class="detail">
        <p class="single-step">
          1. 建议新生选择最终飞抵盖恩斯维尔Gainesville Regional Airport (GNV) ，CSA将全力保证为到达GNV机场的新生提供免费接机。可以安排接机的时间，6月15日（请提前至少3天登记）至8月30日。
          <br />
          <br />
          2. 已提前购买机场大巴（比如 red coach）来Gainesville的新生。同样可以可以使用接机系统联系志愿者免费接送，但请在使用接机系统时注意注明大巴的到达时间和地点。
          <br />
          <br />
          3. 对于飞抵 Orlando (MCO) ， Jacksonville (JAX) 机场的同学 ，由于路途遥远（往返需要四至五小时）。CSA不保证都能够找到志愿者接机，对此CSA表示歉意。(可以选择Red Coach等大巴作为交通方案。)
          <br />
          <br />
          如果需要志愿者去 Orlando或Jacksonville长途接机，我们会尽最大努力安排。因为路途遥远占用时间精力较多，希望被接机的同学同时对我们的志愿者表示一定的感谢，并主动负担相应的油费和过路费。请新生与志愿者提前协商好费用，如果不能达成一致联系接机系统管理员重新分配。（参考费用：奥兰多机场70美元一人次）
          <br />
          <br />
          4. 为了保证同学们的安全，新生或志愿者都务必用真实身份信息注册，一旦发现不采用真实身份以后接机系统永久列入黑名单。新生或志愿者如果对匹配到的志愿者或新生的身份有怀疑请及时联系CSA成员。Gainesville机场的志愿接机是免费，Orlando的接机我们推荐价格是70美金，如果志愿者索要价格高出或低于推荐价格太多也请联系CSA成员咨询。
          <br />
          <br />
          作为UF学生政府下属的官方非营利性组织，CSA在接机过程中的作用仅限于协助新同学联系志愿者，并不涉及与新同学的现金往来，或其他形式的经济活动。与此同时，由于长途旅行的不确定性，我们再次建议第一次来美的新同学选择飞抵GNV机场。
        </p>
      </div>

      <button class="collapsible">接机流程</button>
      <div class="detail">
        <p class="single-step">
          1. 请新生务必按照我们要求，提供并核实个人信息（填写中文即可）。因为一般一个志愿者只能接2人，​同行超过2人的请分别注册方便分配。
          <br />
          <br />
          2. 当您填写完旅程的信息之后（包括抵达机场，日期（当地时间），航空公司和航班号等），CSA会开始为您寻找志愿者。请新生在接机系统中核实自己的信息无误。
          <br />
          <br />
          3. 当CSA为您寻找到志愿者之后，系统会在“接机志愿者”栏下更新志愿者信息，通常这个过程应该不晚于您出发前一周。请新生和志愿者提前取得联系，以确保接机的顺利进行。
          <br />
          <br />
          4. 请您在抵达后按照机场的指示前往指定行李传送带(Baggage Claim)提取托运行李，同时，我们要求接机者亦到该处与您会面（或者你们自己提前协商好的地方）。由于我们的华人面孔，新生与接机者之间的相认十分简单，请不必担心。
          （推荐使用中国电信美国公司的手机卡，无合约，可以在中国拿到实体卡，来美落地即可使用，方便与接机志愿者联系。）
          <br />
          <br />
          5. 每位新生必须自己注册，且只能注册一次。凡是成功注册申请接机的同学，CSA可兑现上一章节中相关的承诺。对于未能完成这一过程，也未在抵达美国前通过其他渠道联系CSA的同学，CSA也会尽量代为安排接机，但资源原则上会被优先安排给已注册的同学。
          <br />
          <br />
          6. 注册时，您需要设置一个用户名和密码。这样可以保证您从返系统修改并更新自己的信息。个人信息必须完全准确无误。
          <br />
          <br />
          7. CSA承诺不会向第三方泄露您的个人信息。
        </p>
      </div>

      <button class="collapsible">各种意外或突发事件的处理</button>
      <div class="detail">
        <p class="single-step">
          1. 新生因故改变航班，请提前3天通知CSA。
          如果在转机过程中误机或航班延误，请新生在第一时间联系接机志愿者，如果不能协调，请尽快联系CSA重新安排。（再次推荐新生提前办理的中国电信美国公司的套餐，试用仅需$1首月，入境美国后即可使用，详情关注CSA官方微信号。）也可以使用机场的投币电话或借用候机大厅其他乘客的手机来联系CSA紧急联系人。美国各大枢纽机场都有免费Wifi，也可使用微信与接机志愿者或者CSA联系。
          <br />
          <br />
          2. 如果原定的志愿者因故无法前往，CSA会尽力安排新的志愿者前往，同时CSA会尽可能通知您本人。
          <br />
          <br />
          3. 如果您在已经提取了行李之后还没有见到接机者，请您在原地耐心等候一段时间，由于机场路途遥远，路上情况千变万化，接机者因故迟到并不罕见。请您先尝试与接机志愿者联系，如果半小时内依然无法取得联系，请联系CSA紧急联系人，我们会根据情况为您做出适当的安排。
          <br />
          <br />
          若遇紧急突发事件威胁到您的人身安全，请立刻拨打９１１联系美国警方。
        </p>
      </div>
    </div>


      <p class="bottom">
        <br>© Copyright 2018 UFCSA Chinese Student
        <br>Association at University of Florida
        <br>佛罗里达大学中国学生会
        <br>All Rights Reserved.
      </p>

    </div>

</section>
