<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="KYS" class="img-responsive text-center" src="http://uflchina.org/site/img/csa-05.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        CSA在此预祝大家旅途顺利
      </p>
      <p class="lead">
        为保证顺利安排每个新生的接机
      </p>
      <p class="lead">
        我们通过接机系统收集新生信息，安排志愿者接机
      </p>
      <p class="lead">
        请您仔细阅读以下的接机系统注册指南
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://www.ufcsa.org/airport-pick-up" target="_blank" rel="noopener">Learn more</a>
      </p>
    </div>
  </div>

  <div class="text-center">
    <div>
      <h2>Congratulations, Jack Ma! Welcome to the Dungeon.</h2>
      <p class="lead"> You may ask me what is the quickest and easiest way to kill yourself? I've said it before, but this is a question with hundreds of equally valid answers. I'll leave a chart here, and discuss some methods that require setup and supplies, but are relatively painless.
      </p>
    </div>
  </div>
  <img alt="KYS" class="img-responsive text-center" src="https://qph.fs.quoracdn.net/main-qimg-b0b34a6f4cf3d0a04e8fd256a3812d69.webp" />
  <div class="well">
    <h2>RESOURCES</h2>
    <p>
      所有关于接机流程的其他问题，请表明邮件主题并发送到 CSA服务部邮箱
      <ul>
        <li><a target="_blank" href="https://meanjs.org/docs.html" rel="noopener">MEAN.JS Documentation</a>
        </li>
        <!-- <li><a target="_blank" href="https://meanjs.org/generator.html" rel="noopener">Yeoman Generator</a>
				</li> -->
        <li><a target="_blank" href="https://meanjs.org/modules.html" rel="noopener">Modules</a>
        </li>
        <li><a target="_blank" href="https://meanjs.org/changelog.html" rel="noopener">Changelog</a>
        </li>
        <li><a target="_blank" href="https://meanjs.org/community.html" rel="noopener">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org" rel="noopener">Blog</a>
        </li>
      </ul>
    </p>
  </div>
  <br>© Copyright 2018 UFCSA Chinese Student
  <br>Association at University of Florida
  <br>佛罗里达大学中国学生会
  <br>All Rights Reserved.

</section>
