
<section>
  
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img src="/modules/core/client/img/brand/CSA logo.png" alt="CSA logo" class="center">
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        UFCSA接机系统
      </p>
    </div>
  </div>

  <div>
    <center>
      <h1>Welcome to the Gator Nation!</h1>
      <p>
        CSA在此预祝大家旅途顺利<br />
        <br />
        为保证顺利安排每个新生的接机<br />
        我们通过接机系统收集新生信息，安排志愿者接机<br />
        <br />
        请您仔细阅读以下的接机系统注册指南<br />
      </p>
    </center>
  </div>


      <button class="collapsible">接机系统使用指南</button>
      <div class="detail">
        <button class="collapsible">注册账号</button>
        <div class="detail">
          <p class="single-step">
              <img class="tutorial_pic" src="/modules/core/client/img/sign up tutorial/example.png" />
              <br />
                第一步：填东西
          </p>
          <p class="single-step">
              第二步....
          </p>
          <p class="single-step">
              第三步....
          </p>
          <p class="single-step">
              第四步....
          </p>
        </div>
        <button class="collapsible">使用系统</button>
        <div class="detail">
          <p>
            这里放具体使用系统步骤
          </p>
        </div>
      </div>
      <button class="collapsible">接机系统注意事项</button>
      <div class="detail">
        <button class="collapsible">CSA志愿者可以提供接机的机场/地点</button>
        <div class="detail">
          <p class="single-step">
              1. 建议新生选择最终飞抵盖恩斯维尔Gainesville Regional Airport (GNV) ，CSA将全力保证为到达GNV机场的新生提供免费接机。可以安排接机的时间，6月15日（请提前至少3天登记）至8月30日。
              <br />
              <br />
              2. 已提前购买机场大巴（比如 red coach）来Gainesville的新生。同样可以可以使用接机系统联系志愿者免费接送，但请在使用接机系统时注意注明大巴的到达时间和地点。
              <br />
              <br />
              3. 对于飞抵 Orlando (MCO) ， Jacksonville (JAX) 机场的同学 ，由于路途遥远（往返需要四至五小时）。CSA不保证都能够找到志愿者接机，对此CSA表示歉意。(可以选择Red Coach等大巴作为交通方案。)
              <br />
              <br />
              如果需要志愿者去 Orlando或Jacksonville长途接机，我们会尽最大努力安排。因为路途遥远占用时间精力较多，希望被接机的同学同时对我们的志愿者表示一定的感谢，并主动负担相应的油费和过路费。请新生与志愿者提前协商好费用，如果不能达成一致联系接机系统管理员重新分配。（参考费用：奥兰多机场70美元一人次）
              <br />
              <br />
              4. 为了保证同学们的安全，新生或志愿者都务必用真实身份信息注册，一旦发现不采用真实身份以后接机系统永久列入黑名单。新生或志愿者如果对匹配到的志愿者或新生的身份有怀疑请及时联系CSA成员。Gainesville机场的志愿接机是免费，Orlando的接机我们推荐价格是70美金，如果志愿者索要价格高出或低于推荐价格太多也请联系CSA成员咨询。
              <br />
              <br />
              作为UF学生政府下属的官方非营利性组织，CSA在接机过程中的作用仅限于协助新同学联系志愿者，并不涉及与新同学的现金往来，或其他形式的经济活动。与此同时，由于长途旅行的不确定性，我们再次建议第一次来美的新同学选择飞抵GNV机场。
          </p>
        </div>
      </div>

</section>


