<!-- The requests view -->
<section class="container">
  <div class="page-header">
    <h1>Accepted Pickup Requests</h1>
    <p>Thank you for being a volunteer, {{vm.user.firstName}}! <br />Here is the list of requests you accepted.
      We strongly suggest adding the new student as a WeChat friend to communicate
      about any possible changes.</p>
  </div>
  <div class="row">
    <div class="tableWrapper" style="min-height: 200px">
      <table class="table table-hover">
        <tr>
          <th>Pick-up</th>
          <th>Cancel</th>
          <th>Name</th>
          <th>Pick-up Date</th>
          <th>Airport/Address</th>
          <th>WeChatId</th>
          <th>carryon</th>
          <th>baggage</th>
        </tr>
        <tr ng-repeat="rqst in vm.requests">
          <td></td>
          <td><div style="float:left">
            <button class="btn btn-altered btn-danger" type="button"
            ng-click="vm.cancelRequest(rqst)"
            style="padding: 2px 6px">Cancel</button>
          </div></td>
          <td>{{rqst.userInfo.displayName}}</td>
          <td>{{rqst.request.timeObj}}</td>
          <td>{{rqst.request.airport}}</td>
          <td>{{rqst.userInfo.wechatid}}</td>
          <td>{{rqst.request.carryon}}</td>
          <td>{{rqst.request.baggage}}</td>
        </tr>
      </table>
    </div>
    <div class="tableWrapper" style="min-height: 200px">
      <table class="table table-hover">
        <tr>
          <th>Lodging</th>
          <th>Cancel</th>
          <th>Name</th>
          <th>Start Date</th>
          <th>Leave Date</th>
          <th>WeChatId</th>
          <th>Pickup Location</th>
          <th>Gender</th>
        </tr>
        <tr ng-repeat="rqst in vm.roomreqs">
          <td></td>
          <td><div style="float:left">
            <button class="btn btn-altered btn-danger" type="button"
            ng-click="vm.cancelRequest(rqst, true)"
            style="padding: 2px 6px">Cancel</button>
          </div></td>
          <td>{{rqst.userInfo.displayName}}</td>
          <td>{{rqst.request.startDateObj}}</td>
          <td>{{rqst.request.leaveDateObj}}</td>
          <td>{{rqst.userInfo.wechatid}}</td>
          <td>{{rqst.request.location}}</td>
          <td>{{rqst.userInfo.gender}}</td>
        </tr>
      </table>
    </div>
  </div>
</section>
