<!-- The requests view -->
<section class="container">
  <div class="page-header">
    <h1>Accepted Pickup Requests</h1>
    <p>Thank you, {{vm.user.firstName}}! Here is the list of requests you accepted.
      We strongly suggest adding the new student as a WeChat friend to communicate
      about any possible changes.</p>
  </div>
  <div class="row">
    <div class="tableWrapper">
    <table class="table table-hover">
      <tr>
        <th>Cancel</th>
        <th>Name</th>
        <th>Pick-up Date</th>
        <th>Airport/Address</th>
        <th>bag</th>
        <th>carryon</th>
        <th>baggage</th>
      </tr>
      <tr ng-repeat="rqst in vm.requests">
        <td><div style="float:left">
          <a class="btn btn-altered btn-space" ng-click="vm.cancelRequest(rqst.request._id)">Cancel</a>
        </div></td>
        <td>{{rqst.userInfo.displayName}}</td>
        <td>{{rqst.request.arrivalTime}}</td>
        <td>{{rqst.request.airport}}</td>
        <td>{{rqst.request.bag}}</td>
        <td>{{rqst.request.carryon}}</td>
        <td>{{rqst.request.baggage}}</td>
      </tr>
    </table>
  </div>
  </div>
</section>
