<!-- The requests view -->
<section class="container">
  <div class="page-header">
    <h1>Completed Pickup Trips</h1>
  </div>
  <div class="row">
    <div class="col col-lg-6">
      <div class="tableWrapper">
        <table class="table table-hover">
          <caption style="text-align: center; color: #000; font-size: 18px">
            You as the volunteer
            <span class="glyphicon glyphicon-heart" style="color: #f91d1d"></span><br />
          </caption>
          <tr>
            <th>Student</th>
            <th>Pick-up Date</th>
            <th>Airport/Address</th>
          </tr>
          <tr ng-repeat="rqst in vm.vlntrByMe">
            <td>{{rqst.userInfo.displayName}}</td>
            <td>{{rqst.request.timeObj}}</td>
            <td>{{rqst.request.airport}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col col-lg-6">
      <div class="tableWrapper">
        <table class="table table-hover">
          <caption style="text-align: center; color: #000; font-size: 18px">
            You as the requester
            <span class="glyphicon glyphicon-plane" style="color: #003ffe"></span><br />
          </caption>
          <tr>
            <th>Volunteer</th>
            <th>Pick-up Date</th>
            <th>Airport/Address</th>
          </tr>
          <tr ng-repeat="rqst in vm.myTrips">
            <td>{{rqst.volunteer.displayName}}</td>
            <td>{{rqst.request.timeObj}}</td>
            <td>{{rqst.request.airport}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
