<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{userInfo.firstName}},</p>
  <br />
  <strong>
    Congratulations! A volunteer has accepted your airport pick-up request: <br />
    Arrival airport/address: {{request.airport}} <br />
    Arrival time: {{request.arrivalTime}} <br />
  </strong>
  <p>
    Please get in touch with him/her and coordinate about your trip details and possible changes.
    The following is the contact information of the volunteer:
  </p>
  <p>
    Name: {{volunteer.displayName}} <br />
    WeChatId: {{volunteer.wechatid}} <br />
    Email: {{volunteer.email}} <br />
    Phone: {{volunteer.phone}} <br />
  </p>
  <strong>If you no longer need to be picked up for this request,
    please login and un-publish your request.</strong>
  <br />
  <br />
  <p>Thank you for using our service! Have a safe and nice trip to UF!</p>
  <p>The {{appName}} Support Team</p>
  <p>University of Florida - Chinese Student Association</p>
  <br />
  <p>This is an automated email. Please do not reply this email.</p>
</body>

</html>
