<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{firstName}},</p>
  <br />
  <p>
    Congratulations! A volunteer has accepted your airport pick-up request: <br />
    Arrival airport/address: {{airport}} <br />
    Arrival time: {{arrivalTime}} <br />
  </p>
  <p>
    Please get in touch with him/her and coordinate about your trip details and possible changes.
    The following is the contact information of the volunteer:
  </p>
  <p>{{volunteerInfo}}</p>
  <strong>If you no longer need to be picked up for this request,
    please login and un-publish your request.</strong>
  <br />
  <br />
  <p>Thank you for using our service!</p>
  <p>The {{appName}} Support Team</p>
</body>

</html>
