

.content {
  margin-top: 50px;
  margin-bottom:50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.collapsible {
	background: rgba(250,70,22,0.5);
	cursor: pointer;
	padding: 18px;
	width: 80%;
	margin-left:10%;
	margin-right:10%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Microsoft YaHei';
	cursor: pointer;
	transition: background-color .6s linear;
	color: #0021A5;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.collapsible:hover, .small-collapsible:hover, .single-step:hover {
	background: rgba(21,243,21,0.9);
	opacity: 1;
}

.detail {
	padding: 0 0px;
	overflow: hidden;
	background: rgba(250,70,22,0);
	display: none;
}

.single-step {
	background: rgba(250,70,22,0);
	padding: 20px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border: solid;
	border-color: #0021A5;
	border-width: 2px;
	text-align: justify;
	outline: none;
	font-size: 18px;
	font-weight: 800;
	font-family: 'Microsoft YaHei';
	cursor: auto;
	transition: background-color 0.3s linear;
	color: #0021A5;
	text-shadow: -1px 0 rgba(255,255,255,0.5), 0 1px rgba(255,255,255,0.5), 1px 0 rgba(255,255,255,0.5), 0 -1px rgba(255,255,255,0.5);
}

.tutorial_pic {
	width: 70%;
	height: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bottom {
	text-align:center;
	font-weight:900;
	font-family:'Microsoft YaHei';
}

.background {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%), url(/modules/core/client/img/background/UF.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% auto ;padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

.intro {
	color: #000000;
	font-family: 'Microsoft YaHei';
	margin-bottom:150px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
