.content {
  margin-top: 50px;
  margin-bottom:50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width:100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	cursor:pointer;
	transition: background-color 0.3s linear;
}
.collapsible:hover, .small-collapsible:hover, .single-step:hover {
	background-color: #ccc;
}
.detail {
	padding: 0 18px;
	overflow: hidden;
	background-color: #f1f1f1;
	display:none;
}
.single-step {
	background-color: #eee;
	color: #444;
	padding: 20px;
	width: 100%;
	border:outset;
	text-align: left;
	outline: none;
	font-size: 15px;
	cursor:auto;
	transition: background-color 0.3s linear;
}
.tutorial_pic {
	width:100%;
}
